.navbar {
    width: 100%;
    margin: auto;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .16);
    z-index: 3 !important;
    color: white !important;

    a.navbar-brand {
        font-weight: 800 !important;
    }
}
#large-screen {
    .navbar {
        max-width: 80% !important;
        border-radius: 40px;

        .nav-link.active {
            font-weight: 800;
        }
    }
}

#tablet-screen {
    .navbar-nav .nav-link {
        color: #fff;
        border-radius: 10px;

        &.active {
            font-weight: 800;
            border: 1px solid white;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.25);
        }
    }

    .offcanvas {
        background: rgba(76, 76, 76, 0.25) !important;
    }
}