

@import "./common.scss";
@import './navigation.scss';


#large-screen {
    margin-top: calc(100% - (100% - 3.5em));



    #my-intro {
        max-height: 85vh;

        .home {
            height: 100vh;
            margin: auto;

            #card-row.row {
                height: 100vh;
                margin: auto;
            }

            .col {
                margin: auto;

                h2,
                p {
                    text-align: justify;
                }

                &.company {
                    text-align: center;

                    img {
                        max-height: 50px;
                    }
                }
            }
        }

    }

    #experience {
        padding: 0;
        background-color: transparent;

        .timeline {
            background: transparent !important;

            .card {
                position: relative;
                max-width: 600px;
                margin: auto;
                margin-top: -2.5px;
                background: transparent;

                &:nth-child(odd) {
                    padding: 30px 0 30px 30px;

                    &::before {
                        left: 0px;
                        top: -4.5px;
                        bottom: -4.5px;
                        border-width: 5px 0 5px 5px;
                        border-radius: 50px 0 0 50px;
                    }
                }

                &:nth-child(even) {
                    padding: 30px 30px 30px 0;

                    &::before {
                        right: 0;
                        top: 0;
                        bottom: 0;
                        border-width: 5px 5px 5px 0;
                        border-radius: 0 50px 50px 0;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 50%;
                    border: solid orangered;
                }

                &:first-child::before {
                    border-top: 0;
                    border-top-left-radius: 0;
                }

                /* Removing the border if it is the last card  and it's odd */
                &:last-child:nth-child(odd)::before {
                    border-bottom: 0;
                    border-bottom-left-radius: 0;
                }

                /* Removing the border if it is the last card  and it's even */
                &:last-child:nth-child(even)::before {
                    border-bottom: 0;
                    border-bottom-right-radius: 0;
                }

                /* text right if the card is even  */
                &:nth-child(even)>.info>.title {
                    text-align: right;
                }

                /* setting dot to the left if the card is odd */
                &:nth-child(odd)>.info>.title::before {
                    left: -45px;
                }

                /* setting dot to the right if the card is odd */
                &:nth-child(even)>.info>.title::before {
                    right: -45px;
                }

            }

            .info {
                display: flex;
                flex-direction: column;
                background: rgba(47, 47, 47, 0.25);
                ;
                color: gray;
                border-radius: 10px;
                padding: 10px;
                z-index: 1;

                .year-span {
                    display: inline-block;
                    padding: .35em 0em;
                    font-size: 1em;
                    font-weight: 700;
                    line-height: 1;
                    color: #fff;
                    white-space: nowrap;
                    vertical-align: baseline;
                    margin: auto;
                    /* margin-left: 0; */
                }

                .title {
                    color: orangered;
                    position: relative;

                    /* Timeline dot  */
                    &::before {
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        background: white;
                        border-radius: 999px;
                        margin-left: 3px;
                        margin-right: 3px;
                        border: 3px solid orangered;
                    }
                }

                .card-footer img {
                    max-width: 75px;
                }


            }
        }
    }
}

#tablet-screen {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }



    #my-intro1 {
        // max-height: 85vh;

        .home {
            height: 100vh;
            margin: auto;
            top: 6em;

            #card-row.row {
                height: 100vh;
                margin: auto;
            }

            .col {
                margin: auto;

                h2,
                p {
                    text-align: justify;
                }
            }

            .card {
                background-color: rgba(47, 47, 47, 0.25);
                border-radius: 25px;
                padding: 1em;
                max-width: 90%;
                margin: auto;
                height: calc(100% - 8em);
            }
        }

    }

    #experience1{
        .card {
            background-color: rgba(47, 47, 47, 0.25);
            border-radius: 25px;
            padding: 1em;
            max-width: 90%;
            margin: auto;
            height: calc(100% - 8em);

            .card-tags img{
                max-width: 75px;
                max-height: 20px;
            }
            .card-body, .card-footer{
                border-top: 1px solid #252525;
            }
        }
    }

    #my-skills1 {
        .card {
            // background-color: rgba(47, 47, 47, 0.25);
            border-radius: 25px;
            padding: 1em;
            max-width: 90%;
            margin: 0.2em auto;
            height: calc(100% - 8em);
            // max-width: 40em;
            background-color: rgba(47, 47, 47, 0.25) !important;
            // margin-bottom: 0.2em !important;

            img {
                max-height: 30em;
            }
            .card-body, .card-footer{
                border-top: 1px solid #252525;
            }
        }
    }
}