@import "./common.scss";
@import './navigation.scss';


#large-screen {
    margin-top: calc(100% - (100% - 3.5em));

    #my-intro {
        max-height: 85vh;

        .home {
            height: 100vh;
            margin: auto;

            #card-row.row {
                height: 100vh;
                margin: auto;
            }

            .col {
                margin: auto;

                h2,
                p {
                    text-align: justify;
                }

                &.company {
                    text-align: center;

                    img {
                        max-height: 50px;
                    }
                }
            }
        }

    }

    #experience {
        padding: 0;
        background-color: transparent;



        // .yr-dial {
        //     display: flex;
        //     padding: 0rem;
        //     border: 1px solid white;
        //     border-radius: 100%;
        //     width: 7em;
        //     height: 7em;
        //     margin: auto 1rem;
        //     h3{
        //         margin: auto;
        //     }
        // }
    }

    #core-competency {
        .form-check-input:checked {
            background-color: #712cf9;
            border-color: #712cf9;
        }
    }
}

#tablet-screen {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }



    #my-intro-mobile {
        .home {
            height: 100vh;
            margin: auto;
            top: 6em;

            #card-row.row {
                height: 100vh;
                margin: auto;
            }

            .col {
                margin: auto;

                h2,
                p {
                    text-align: justify;
                }
            }

            .card {
                background-color: rgba(47, 47, 47, 0.25);
                border-radius: 25px;
                padding: 1em;
                max-width: 100%;
                margin: auto;
                height: calc(100% - 8em);
            }
        }

    }

    #my-professional-journey-mobile {
        .card {
            background-color: rgba(47, 47, 47, 0.25);
            border-radius: 25px;
            padding: 1em;
            max-width: 100%;
            margin: auto;
            height: calc(100% - 8em);

            .card-tags img {
                max-width: 75px;
                max-height: 20px;
            }

            .card-body,
            .card-footer {
                border-top: 1px solid #252525;
            }
        }
    }

    #core-competency-mobile {
        li.list-group-item {
            display: inline-flex !important;
        }
    }

}